{% extends 'dashboard.html.twig' %} {% block title %}Modifier recruteur {%
endblock %} {% block body %}
<div class="container">
  <h1 class="mt-4 ml-2">Modifier un recruteur :</h1>
  {{ form_start(form) }}
  <div class="col-6">{{ form_row(form.Nom) }}</div>
  <div class="col-6">{{ form_row(form.Adresse) }}</div>
  <div class="col-6">{{ form_row(form.Telephone) }}</div>
  {{ form_widget(form) }}
  <button class="ml-3 btn btn-warning mb-3">Modifier</button>
  {{ form_end(form) }}
</div>
{% endblock %}
