{% extends 'base.html.twig' %}
{% block title %}Postuler {% endblock %} 
{% block body %}
<div class="container">
  <h1 class="mt-4 ml-2">Postuler  :</h1>
  {{ form_start(form) }}
  <div class="col-6">{{ form_row(form.Experience) }}</div>
  <div class="col-6">{{ form_row(form.CvFile) }}</div> 
  {{ form_widget(form) }}
 
  {% if app.user.postulationRestant > 0 %}
  <button class="ml-3 btn btn-primary mb-3">Postuler</button>
  {% endif %}
  {{ form_end(form) }}
</div>
{% endblock %}
