{% extends 'dashboard.html.twig' %}

{% block title %}Afficher Administrateur{% endblock %}

{% block body %}
   <div class="container">
        <h1 class="my-3">Details Administrateur : </h1>
        <dl class="row">
      <dt class="col-sm-3">ID : </dt>
      <dd class="col-sm-9"></span>{{administrateur.id}}</dd>
      <dt class="col-sm-3">Nom : </dt>
      <dd class="col-sm-9"></span>{{administrateur.Nom}}</dd>
      <dt class="col-sm-3">Prenom : </dt>
      <dd class="col-sm-9"></span>{{administrateur.Prenom}}</dd>
      <dt class="col-sm-3">Email : </dt>
      <dd class="col-sm-9"></span>{{administrateur.email}}</dd>
    </dl>
    <div class="d-flex">
          <a href="{{ path('Liste-Administrateurs')}}" class="btn btn-primary btn-sm mt-3">retour</a>
      <div>
   </div>
{% endblock %}