{% extends 'base.html.twig' %}

{% block title %}Modifier une nouvelle offre{% endblock %}


{% block body %}
<div class="container mt-3">
<h1>Modifier une nouvelle offre d'emploi : </h1>
{{ form_start(form) }}
  <div class="row">
    <div class="col-md-8">{{form_row(form.Titre)}}</div>
    <div class="col-md-8">{{form_row(form.Description|raw)}}</div>
    <div class="col-md-8">{{form_row(form.Experience)}}</div>
    <div class="col-md-8">{{form_row(form.Emplacement)}}</div>
    <div class="col-md-8">{{form_row(form.TypeContrat)}}</div>
    <div class="col-md-8">{{form_row(form.DateExpiration)}}</div>
    <div class="col-md-8">{{form_row(form.etat)}}</div>
  </div>
{{ form_widget(form) }}
<button class="btn btn-danger rounded btn-md" >Modifier</button>
{{ form_end(form) }}
  </div>
{% endblock %}